[Unit]
Description=QSNX DBus service

[Service]
Type=dbus
BusName=com.alexl.qt.QSNX
ExecStart=/usr/bin/qsnx_service

[Install]
WantedBy=multi-user.target
